* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222a;
}

.left--side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.react--img {
  width: 29px;
  height: 29px;
  margin-right: 5px;
}

.react--facts {
  color: #00abca;
  font-size: 22.5px;
  font-weight: 500;
}

.right--side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler--dark {
  color: #ffffff;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* Main Styles */
main {
  padding: 57px 27px;
  background-image: url('./Images/react-icon-light.png');
  background-repeat: no-repeat;
  background-position: right center;
  flex: 1 1 auto;
  background-color: white;
  color: #2b283a;
}

main.dark {
  background-image: url('./Images/react-icon-dark.png');
  background-color: #282d35;
  color: white;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
